.section-container {
    border-radius: 15px;
    overflow: hidden;
    margin: 0 30px;
}

.section-image {
    border-radius: 15px;
    height: 200px;
    width: 100%;
}

.topstories-caption-container {
    padding: 6px 0px;
}

.topstories-caption {
    margin-top: 1px;
    font-weight: 600;
    font-size: 15px;
    width: 75%;
}